<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Medicine| Thuốc</title>

    <link rel="stylesheet" href="../static/Style/headerAndfooter.css">

    <link rel="stylesheet" href="../static/Style/medicine.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>





<body>
    <header class="header">
        <a href="#" class="logo">
            <div class="BKUlogo">
                <img src="../static/img/logo.png" alt="">
            </div>
            HCMUT
        </a>

        <nav class="navbar">
            <a href="#home">Trang chủ</a>
            <a href="#features">Chức năng</a>
            <a href="#info">Thông tin</a>
            <a href="#achieve">Thành tựu</a>
            <a href="#contact">Liên hệ</a>
        </nav>

        <div class="login-btn">
            <button class="user btn">
                <i class="fa-solid fa-user"></i>
                <a href="#">Tài khoản</a>
            </button>
        </div>
    </header>


    <section class="mec site">
        <div class="Text">
            <h3 style="font-size: 20px;">Thuốc</h3>
        </div>
        <ul class="med-class">
            <li>
                <a href="#" class="grid" onclick="toggleOpacity1()">
                    <img src=" ../static/img/20240223191727-0-P00126_5.png" alt="">
                    <p>Thuốc không kê đơn</p>
                </a>
            </li>
            <li>
                <a href="#" class="grid" onclick="toggleOpacity2()">
                    <img src="../static/img/20240223191446-0-P00218_1_l.png" alt="">
                    <p>Thuốc kê đơn</p>
                </a>
            </li>
        </ul>
    </section>


    <section class="mec-title site mec-title-1">
        <div class="Text">
            <h3 style="font-size: 20px;">Thuốc không kê đơn</h3>
        </div>

        <ul class="mec-list-1">
            <li class="item-1">
                <a href="medicineinfo.html">
                    <img src="../static/img/20240225121050-0-P00414_1_l.png" alt="">
                    <p>Thuốc 1</p>
                </a>
            </li>
            <li class="item-1">
                <a href="medicineinfo.html">
                    <img src="../static/img/20240225123332-0-P00117_1.png" alt="">
                    <p>Thuốc 2</p>
                </a>
            </li>
            <li class="item-1">
                <a href="medicineinfo.html">
                    <img src="../static/img/20240225123715-0-P01296_4.png" alt="">
                    <p>Thuốc 3</p>
                </a>
            </li>
            <li class="item-1">
                <a href="medicineinfo.html">
                    <img src="../static/img/20240225124455-0-P00057_1.webp" alt="">
                    <p>Thuốc 4</p>
                </a>
            </li>
            <li class="item-1">
                <a href="">
                    <img src="../static/img/20240225125000-0-P25114_1.png" alt="">
                    <p>Thuốc 5</p>
                </a>
            </li>
            <li class="item-1">
                <a href="medicineinfo.html">
                    <img src="../static/img/20240225121141-0-P13193_1_l.png" alt="">
                    <p>Thuốc 6</p>
                </a>
            </li>
            <li class="item-1">
                <a href="medicineinfo.html">
                    <img src="../static/img/20240225123231-0-P14604_3.png" alt="">
                    <p>Thuốc 7</p>
                </a>
            </li>
            <li class="item-1">
                <a href="">
                    <img src="../static/img/20240225123113-0-P00053_1.png" alt="">
                    <p>Thuốc 8</p>
                </a>
            </li>
        </ul>
    </section>


    <section class="mec-title site mec-title-2">
        <div class="Text">
            <h3 style="font-size: 20px;">Thuốc kê đơn</h3>
        </div>

        <ul class="mec-list-1">
            <li class="item-1">
                <a href="medicineinfo.html">
                    <img src="../static/img/20240225121050-0-P00414_1_l.png" alt="">
                    <p>Thuốc 1</p>
                </a>
            </li>
            <li class="item-1">
                <a href="medicineinfo.html">
                    <img src="../static/img/20240225123332-0-P00117_1.png" alt="">
                    <p>Thuốc 2</p>
                </a>
            </li>
            <li class="item-1">
                <a href="medicineinfo.html">
                    <img src="../static/img/20240225123715-0-P01296_4.png" alt="">
                    <p>Thuốc 3</p>
                </a>
            </li>
            <li class="item-1">
                <a href="medicineinfo.html">
                    <img src="../static/img/20240225124455-0-P00057_1.webp" alt="">
                    <p>Thuốc 4</p>
                </a>
            </li>
            <li class="item-1">
                <a href="medicineinfo.html">
                    <img src="../static/img/20240225125000-0-P25114_1.png" alt="">
                    <p>Thuốc 5</p>
                </a>
            </li>
            <li class="item-1">
                <a href="medicineinfo.html">
                    <img src="../static/img/20240225121141-0-P13193_1_l.png" alt="">
                    <p>Thuốc 6</p>
                </a>
            </li>
            <li class="item-1">
                <a href="medicineinfo.html">
                    <img src="../static/img/20240225123231-0-P14604_3.png" alt="">
                    <p>Thuốc 7</p>
                </a>
            </li>
            <li class="item-1">
                <a href="medicineinfo.html">
                    <img src="../static/img/20240225123113-0-P00053_1.png" alt="">
                    <p>Thuốc 8</p>
                </a>
            </li>
        </ul>
    </section>


    <section class="site mec-list-0">
        <div class="Text">
            <h3 style="font-size: 20px;">Danh sách thuốc</h3>
        </div>
        <ul class="mec-list-1">
            <li class="item-1">
                <a href="medicineinfo.html">
                    <img src="../static/img/20240225121050-0-P00414_1_l.png" alt="">
                    <p>Thuốc 1</p>
                </a>
            </li>
            <li class="item-1">
                <a href="medicineinfo.html">
                    <img src="../static/img/20240225123332-0-P00117_1.png" alt="">
                    <p>Thuốc 2</p>
                </a>
            </li>
            <li class="item-1">
                <a href="medicineinfo.html">
                    <img src="../static/img/20240225123715-0-P01296_4.png" alt="">
                    <p>Thuốc 3</p>
                </a>
            </li>
            <li class="item-1">
                <a href="medicineinfo.html">
                    <img src="../static/img/20240225124455-0-P00057_1.webp" alt="">
                    <p>Thuốc 4</p>
                </a>
            </li>
            <li class="item-1">
                <a href="medicineinfo.html">
                    <img src="../static/img/20240225125000-0-P25114_1.png" alt="">
                    <p>Thuốc 5</p>
                </a>
            </li>
            <li class="item-1">
                <a href="medicineinfo.html">
                    <img src="../static/img/20240225121141-0-P13193_1_l.png" alt="">
                    <p>Thuốc 6</p>
                </a>
            </li>
            <li class="item-1">
                <a href="medicineinfo.html">
                    <img src="../static/img/20240225123231-0-P14604_3.png" alt="">
                    <p>Thuốc 7</p>
                </a>
            </li>
            <li class="item-1">
                <a href="medicineinfo.html">
                    <img src="../static/img/20240225123113-0-P00053_1.png" alt="">
                    <p>Thuốc 8</p>
                </a>
            </li>
        </ul>
    </section>


    <!-- start footer  -->
    <section class="footer">
        <div class="footer-container">

            <div class="footer-box">

                <div class="footer-BKUlogo">
                    <img src="./css/img/logo-footer.jpg" alt="">
                    <div class="footer-logo-content">
                        <span>HOSPITAL HCMUT UNIVERSITY</span>
                        <p>Bệnh viện chuyên chăm sóc, hồi sức cho sinh viên BKU :< </p>
                    </div>
                </div>

                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>

                <span>LƯỢT TRUY CẬP: 99,999,999</span>
            </div>

            <div class="footer-box">
                <h3>Thông tin liên hệ hỗ trợ</h3>
                <a href="#" class="links"> <i class="fas fa-phone"></i> +123-456-7890 </a>
                <a href="#" class="links"> <i class="fas fa-phone"></i> +111-222-3333 </a>
                <a href="#" class="links"> <i class="fas fa-envelope"></i> kiet.phantuan17@hcmut.edu.vn </a>
                <a href="#" class="links"> <i class="fa-solid fa-location-dot"></i> Cơ sở 1: 268 Lý Thường Kiệt, Phường
                    14, Quận 10, TP. HCM (Bản đồ) </a>
                <a href="#" class="links"> <i class="fa-solid fa-location-dot"></i> Cơ sở 2: Khu phố Tân Lập, Phường
                    Đông Hòa, TP. Dĩ An, Tỉnh Bình Dương (Bản đồ)</a>

            </div>

            <div class="footer-box">
                <h3>Truy cập</h3>
                <a href="#home" class="links"> <i class="fas fa-arrow-right"></i> Trang chủ </a>
                <a href="#features" class="links"> <i class="fas fa-arrow-right"></i> Chức năng </a>
                <a href="#info" class="links"> <i class="fas fa-arrow-right"></i> Thông tin </a>
                <a href="#achieve" class="links"> <i class="fas fa-arrow-right"></i> Thành tựu </a>
                <a href="#contact" class="links"> <i class="fas fa-arrow-right"></i> Liên hệ </a>
            </div>
        </div>

    </section>
    <!-- end footer  -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!-- custom file js -->
    <script src="./HomeScript.js"></script>
    <script src="../static/effect.js"></script>
</body>



</html>