<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Medicine</title>
    <link rel="stylesheet" href="../../static/Style/style.css">

</head>






<body>

    <div class="mask">
        <div class="position">
            <h1>
                Danh sách thuốc
                <span class="weak">
                    - Trang 1
                </span>
            </h1>
        </div>
    </div>


    <ul class="list-item">
        <li class="item">
            <div class="card" style="width: 16rem;">
                <img src="../../static/img/thuoc-tiem.jpg" class="card-img-top">
                <div class="card-body">

                    <h5 class="card-title">Natri chloride 0,45% <br> <span>Dạng bào chế - biệt dược</span>
                    </h5>

                    <span class="sp">Số lượng còn: 10</span>

                </div>
            </div>
        </li>




        <li class="item">
            <div class="card" style="width: 16rem;">
                <img src="../../static/img/thuoc-tiem.jpg" class="card-img-top">
                <div class="card-body">

                    <h5 class="card-title">Natri chloride 0,45% <br> <span>Dạng bào chế - biệt dược</span>
                    </h5>

                    <span class="sp">Số lượng còn: 10</span>

                </div>
            </div>
        </li>
        <li class="item">
            <div class="card" style="width: 16rem;">
                <img src="../../static/img/thuoc-tiem.jpg" class="card-img-top">
                <div class="card-body">

                    <h5 class="card-title">Natri chloride 0,45% <br> <span>Dạng bào chế - biệt dược</span>
                    </h5>

                    <span class="sp">Số lượng còn: 10</span>

                </div>
            </div>
        </li>
        <li class="item">
            <div class="card" style="width: 16rem;">
                <img src="../../static/img/thuoc-tiem.jpg" class="card-img-top">
                <div class="card-body">

                    <h5 class="card-title">Natri chloride 0,45% <br> <span>Dạng bào chế - biệt dược</span>
                    </h5>

                    <span class="sp">Số lượng còn: 10</span>

                </div>
            </div>
        </li>
        <li class="item">
            <div class="card" style="width: 16rem;">
                <img src="../../static/img/thuoc-tiem.jpg" class="card-img-top">
                <div class="card-body">

                    <h5 class="card-title">Natri chloride 0,45% <br> <span>Dạng bào chế - biệt dược</span>
                    </h5>

                    <span class="sp">Số lượng còn: 10</span>

                </div>
            </div>
        </li>
        <li class="item">
            <div class="card" style="width: 16rem;">
                <img src="../../static/img/thuoc-tiem.jpg" class="card-img-top">
                <div class="card-body">

                    <h5 class="card-title">Natri chloride 0,45% <br> <span>Dạng bào chế - biệt dược</span>
                    </h5>

                    <span class="sp">Số lượng còn: 10</span>

                </div>
            </div>
        </li>
        <li class="item">
            <div class="card" style="width: 16rem;">
                <img src="../../static/img/thuoc-tiem.jpg" class="card-img-top">
                <div class="card-body">

                    <h5 class="card-title">Natri chloride 0,45% <br> <span>Dạng bào chế - biệt dược</span>
                    </h5>

                    <span class="sp">Số lượng còn: 10</span>

                </div>
            </div>
        </li>
        <li class="item">
            <div class="card" style="width: 16rem;">
                <img src="../../static/img/thuoc-tiem.jpg" class="card-img-top">
                <div class="card-body">

                    <h5 class="card-title">Natri chloride 0,45% <br> <span>Dạng bào chế - biệt dược</span>
                    </h5>

                    <span class="sp">Số lượng còn: 10</span>

                </div>
            </div>
        </li>
    </ul>
    <div class="nav-button">
        <div class="btn-group me-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-outline-secondary"
                onclick="window.location.href = '../Medicine1/index.html'">1</button>
            <button type="button" class="btn btn-outline-secondary"
                onclick="window.location.href = '../Medicine2/index.html'">2</button>
            <button type="button" class="btn btn-outline-secondary"
                onclick="window.location.href = '../Medicine3/index.html'">3</button>
            <button type="button" class="btn btn-outline-secondary"
                onclick="window.location.href = '../Medicine4/index.html'">4</button>
        </div>
    </div>
</body>



</html>